html{
            scroll-behavior: smooth;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0px;
            background-color: #1d0453;
            color: wheat;
        }
        h1{
            background: #224dc3;
            background: linear-gradient(to right, rgb(61, 195, 34) 0%, rgb(233, 10, 196) 12%, rgb(165, 15, 15) 25%, rgba(214, 99, 99, 1) 50%, rgba(72, 107, 234, 1) 60%, rgba(253, 187, 45, 1) 70%);
            background-clip: text;
            color: transparent;
            margin-top:none;
            padding: none;
            text-align : center;
            margin-bottom: none;
        }
        .about{
            text-align: center;
        }
        h2 {
            background: linear-gradient(to right, rgb(61, 195, 34) 0%, rgb(233, 10, 196) 12%, rgb(165, 15, 15) 25%, rgba(214, 99, 99, 1) 50%, rgba(72, 107, 234, 1) 60%, rgba(253, 187, 45, 1) 70%);
            background-clip: text;
            color: transparent;
            
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 15px;
        }
        ul li a {
            text-decoration: none;
            color: #007BFF;
            
        }
        nav{
            text-align: center;
            margin-bottom: 20px;
            background-color:  white;
            height: 40px;
            padding-top: 2px;
            padding-bottom: 3px;
            border-radius: 10px;
            width: auto;
            margin-left: 300px;
            margin-right: 300px;
        }
        nav ul li a:hover {
            text-decoration: underline;
        }
        .item{
            font-size: 20px;
            font-weight: bold;
            margin: 12px;
        }
        section {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 3px 5px 10px;
            color: rgb(255, 253, 253);
        }
        .contact {
            padding-left: 30px;
            margin-top: 10px;
        }